<html>
<head>
<meta charset="UTF-8">
<title>webuploader 文件上传</title>
<!--引入CSS-->
<link rel="stylesheet" th:href="@{/js/webuploader/webuploader.css}"
	type="text/css" />
<link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
<!--引入JS-->
<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
<script type="text/javascript"
	th:src="@{/js/webuploader/webuploader.js}"></script>
<script th:inline="javascript" type="text/javascript">
    //var ctxPath  = [[@{/}]];
    //var ctxPath = /*[[@{/}]]*/'';
    var ctxPath=[[${#httpServletRequest.getContextPath()}]];
</script>
</head>

<body>
	<div id="uploader" class="wu-example">
		<!--用来存放文件信息-->
		<div id="thelist" class="uploader-list"></div>
		<div class="btns">
			<div id="picker">选择文件</div>
			<button id="ctlBtn" class="btn btn-default">开始上传</button>
		</div>
	</div>


	<script type="text/javascript">
		$list=$('#thelist')
		$btn=$('#ctlBtn')
		//初始化Web Uploader
		var uploader = WebUploader.create({
			// swf文件路径
			swf : ctxPath+'/js/webuploader/Uploader.swf',
			// 文件接收服务端。
			server : ctxPath+'/file/upload/create',
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			pick : '#picker',
			// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			resize : false
		});

		//显示用户选择
		// 当有文件被添加进队列的时候
		uploader.on('fileQueued', function(file) {
			console.log("fileQueued",file)
			$list.append('<div id="' + file.id + '" class="item">'
					+ '<h4 class="info">' + file.name + '</h4>'
					+ '<p class="state">等待上传...</p>' + '</div>');
		});
		//文件上传进度
		var percentage=0;
		// 文件上传过程中创建进度条实时显示。
		uploader.on('uploadProgress',function(file, percentage) {
			console.log("======1===============",percentage)
			var $li = $('#' + file.id), $percent = $li.find('.progress .progress-bar');
			// 避免重复创建
			if (!$percent.length) {
				$percent = $(
						'<div class="progress progress-striped active">'
								+ '<div class="progress-bar" role="progressbar" style="width: 0%">'
								+ '</div>' + '</div>')
						.appendTo($li).find('.progress-bar');
			}
	
			$li.find('p.state').text('上传中');
			
			$percent.css('width', percentage * 100 + '%');
		});
		//文件成功
		uploader.on( 'uploadSuccess', function( file ) {
			console.log("uploadSuccess",file)
		    $( '#'+file.id ).find('p.state').text('已上传');
		});
		//、失败处理
		uploader.on( 'uploadError', function( file ) {
			console.log("uploadError",file)
		    $( '#'+file.id ).find('p.state').text('上传出错');
		});
		//完成
		uploader.on( 'uploadComplete', function( file ) {
			console.log("uploadComplete",file)
		    $( '#'+file.id ).find('.progress').fadeOut();
		});
		
		$btn.on('click', function() {
			uploader.upload(); //d点击上传
		});
		
		//自己写的暂停毫秒数的函数
		function pauseTime(millTime) {
			var start=Date.now();
			while(true){
				var nowTime=Date.now();
				var offset=nowTime-start;
				if(offset>=millTime)
					break;
			}
		}
		
	</script>

</body>

</html>